/*!
 * Alphawonders admin stylesheet
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #441648; /*#222*/
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    min-height: 500px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 195px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */
.navbar {
    background: #6b1b5c !important;
}
.top-nav {
    padding: 0 15px;
}

.navbar-header {
    margin-top: 5px;
}

/*Navbar-brand Customization*/
.navbar-brand {
    margin-top: -14px;
}

.brand-title a {
    color: #da9704;
    font-size: 25px;
    padding: 10px !important;
}

.brand-title a:focus, .brand-title a:hover {
    color: #ffb000 !important;
    text-decoration: none !important;
}
/*End styling of brand*/

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a,
.top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background-color: #ed9107 !important; 
}
/*.navbar-right a:focus, .navbar-right a:hover {
    background-color: #ffb000 !important;
    /*text-decoration: none;
}*/
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #da9704;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 195px;
        width: 195px;
        margin-left: -194px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #28022a;
        border-right: 1px solid #d43fe4;
        min-height: 604px;
    }

    .side-nav>li>a {
        width: 194px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #ed9107 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


/*styling footer*/
@media(min-width:768px) {
    .ft-wrapper {
        padding-left: 195px;
    }

    .navbar-fixed-bottom {
        background: #da9704 !important; /*fc8604*/
        margin-left: 195px;
        min-height: 30px;
        width: 100%;
    }

    .wrap-cont {
        margin: 0px 50px;
        padding: 0 30px;
    }

    .wrap-cont p {
        color: #5808a2;
        margin-left: 170px;
        padding-left: 200px;
        padding-top: 5px;
    }
}

