/*
* brand colors: 
 */
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	body {
		color: #666;
	}

	.navbar .nav-collapse { margin-left: -50px; padding: 0; }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	body {
		color: #666;
	}

	.navbar .nav-collapse { margin-left: -50px; padding: 0; }

    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px 0; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
    .alp-qck-co	{
		margin: 5px 0 -4px 0%;
	}

	.alp-tech img {
		width : 100%;
		height : 455px;
	}
	/*.contact {
		background: #fff;
		margin-top: 4% !important;
		padding: 0px 0 30px !important;
		text-align: center;
		min-height: 450px !important;
	}*/
	.contact p {
		padding-bottom: 20px !important;
		color: #737373;
	}

	.contact, .alph-services, .alph-hires {
		background: #fff;
		margin-top: 10%;
		padding: 0px 0 80px;
		text-align: center;
		min-height: 450px;
		margin-bottom: 10px;
		padding-bottom: 12px;
	}

	.alph-hires {
		text-align: left !important;
	}
	
}
	


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	body {
		color: #666;
	}

	.contact, .alph-services, .alph-hires {
		background: #fff;
		margin-top: 10%;
		padding: 0px 0 80px;
		text-align: center;
		min-height: 450px;
		margin-bottom: 10px;
		padding-bottom: 12px;
	}
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	body {
		color: #666;
	}

	.alph-services, .alph-hires {
		background: #fff;
		margin-top: 10%;
		padding: 0px 0 80px;
		text-align: center;
		min-height: 450px;
		margin-bottom: 10px;
		padding-bottom: 12px;
	}
	
}

