html, body { height : 100%; }
body { color : #424449; font-family : arial; padding-top : 0; }
#wrapper { min-height : 100%; position : relative; margin-top: 145px; }
#content { padding-bottom : 0px; }
#search_in_title { background-color : #f4f4f4; border : 0 none; border-radius : 3px 0 0 3px; font : bold 15px "lucida sans","trebuchet MS","Tahoma"; height : 40px; padding : 5px; }
.button-more, .btn-go-search { border : 0 none; border-radius : 0; color : #fff; cursor : pointer; float : right; font : bold 15px/40px "lucida sans","trebuchet MS","Tahoma"; height : 40px; overflow : visible; position : relative; text-shadow : 0 -1px 0 rgba(0, 0, 0, 0.3); text-transform : uppercase; width : 100%; }
.btn-go-search { width: 40px;}
.button-more::before { border-style : solid solid solid none; border-width : 8px 8px 8px 0; content : ""; left : -6px; position : absolute; top : 12px; }
.btn-go-search { border-bottom-right-radius : 3px; border-top-right-radius : 3px; }
.blog-col, .left-col-archive { margin-bottom : 15px; }
#search-input-blog { margin:0; margin-top: 10px; margin-bottom: 20px; padding: 0;}
#search-input-blog .search-query { padding-right: 30px;    padding-left: 3px; margin-bottom: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#search-input-blog button {border: 0;  background: none;  padding: 2px 5px;      margin-top: 2px;      position: absolute; top:5px;    left: -28px;   margin-bottom: 0;   -webkit-border-radius: 3px;   -moz-border-radius: 3px;    border-radius: 3px;  color:#D9230F;}
#search-input-blog .search-query:focus + button { z-index: 3;}
div.filter-sidebar { margin-bottom : 30px; }
div.filter-sidebar .title, .title.alone { font-size : 18px; line-height : 1; margin : 0 0 10px; padding : 0; }
div.filter-sidebar .title span, .title.alone span { border-bottom : 3px solid #393962 !important; color : #666; display : inline-block; margin-bottom : -3px; padding-bottom : 10px; }
div.filter-sidebar ul { list-style : none; padding : 0; }
div.filter-sidebar ul li, div.filter-sidebar ul li a { margin-bottom : 4px; }
div.filter-sidebar ul li a { color : #6d6d6d; display : inline-block; font-size : 13px; }
div.filter-sidebar ul li a.selected, div.filter-sidebar ul li a:hover { color : #1e88e5; }
div.filter-sidebar ul.children { padding-left : 13px; }
div.filter-sidebar ul.parent i, div.filter-sidebar ul.children i { font-size : 10px; }
div.filter-sidebar .title a.clear-filter, div.filter-sidebar .title i { color : #666; float : right; }
.btn-blog {background: #1f3664; border: 1px solid #057fd0; border-radius: 6px; box-shadow: 0 1px 0 0 #f0f7fa; color: #ffffff; cursor: pointer; display: inline-block; font-family: Arial; font-size: 15px; font-weight: bold; padding: 6px 24px; text-decoration: none;text-shadow: 0 -1px 0 #5b6178;}
.btn-blog:hover {color:#fff;}
.blog-list .caption { color : #666; }
.blog-list small span { margin-right : 7px; }
.blog-list small, .blog-list small a, .blog-preview-time { color : silver; }
.blog-list .caption h5 { font-size : 16px; }
.blog-list img { width : 100%; }
#blog .thumbnail { width: 197px !important; height: 158px !important; border: 1px solid #dddddd14 !important; }
#blog .thumbnail img {max-width: 147px !important; height: 130px !important; }
#blog .thumbnail { border-radius : 0; }
.blog-detail-thumb { border: 1px solid #dddddd0f !important; }
.blog-detail-thumb { margin-left : 0px !important; margin-right : 0px !important; }
.blog-preview-time { display : inline-block; margin-bottom : 10px; }
.blog-description { color : #666; font-size : 13px; margin-bottom: 100px; padding: 20px 10px 70px; text-align: justify; }
.blog-artchive { list-style : none; margin-bottom : 20px; padding-left : 0; }
.blog-artchive .item { background : transparent none repeat scroll 0 0; border-color : -moz-use-text-color -moz-use-text-color #ccc; border-image : none; border-style : none none dotted; border-width : 0 0 1px; moz-border-bottom-colors : none; moz-border-left-colors : none; moz-border-right-colors : none; moz-border-top-colors : none; padding : 10px 0px; padding-left : 10px; }
.blog-artchive .item a { color : #666; }
.blog-home-left-categ { margin-bottom : 20px; }
.blog-list .description {height: 115px;overflow: hidden; font-size : 12px; text-align: justify}
.blog-list h5 {height: 56px; overflow: hidden; font-weight: 700; color: #551dc8}
.blog-list .img-container {height: 400px; overflow: hidden;}
.btn-blue { background-color : #4285f4; box-shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); color : #fff; }
