body {
        background-image:url('assets/valiants/vncd.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-color: #548fd0;
        background-size: cover;
        background-color:#548fd0;
    }